<div class="container">
<button class="btn btn-default" ng-click="createRestaurant" ui-sref="dashboard.createRestaurant">Create a restaurant</button>
<button class="btn btn-default" ng-click="createRestaurant" ui-sref="dashboard.createBanner">Create a banner</button>
<button class="btn btn-default" ng-click="createRestaurant" ui-sref="dashboard.createOffer">Create a offer</button>

	<ui-view></ui-view>

</div>