<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body ng-app="viands-admin">
	<ui-view></ui-view>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"> </script>
<script type="text/javascript" src="/admin/javascripts/app.js"></script>
<script type="text/javascript" src="/admin/javascripts/factories/Credential.js"></script>
<script type="text/javascript" src="/admin/javascripts/factories/Restaurant.js"></script>
<script type="text/javascript" src="/admin/javascripts/controllers/CreateRestController.js"></script>
<script type="text/javascript" src="/admin/javascripts/controllers/DashController.js"></script>
<script type="text/javascript" src="/admin/javascripts/controllers/HomeController.js"></script>
</body>
</html>