<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href='http://fonts.googleapis.com/css?family=Lato:Light 300' rel='stylesheet' type='text/css'>
</head>
<body style="margin: 0; padding: 0;font-family:'Tahoma'">
 <table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
  <tr>
   <td bgcolor="#ffffff">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="260" valign="top">
   <img src="https://s3.amazonaws.com/viands/images_welcome/Viands_logo.jpg" width="250px" height="180px;">
  </td>
  <td style="font-size: 0; line-height: 0;" width="20">
   &nbsp;
  </td>
  <td width="260" valign="top">
   <img src="https://s3.amazonaws.com/viands/images_welcome/one100solutions_logo.png" width="250px" height="200px">
  </td>
 </tr>
</table>
   </td>
  </tr>
  <tr>
   <td bgcolor="#ffffff" style="padding:40px 20px 40px 30px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
    	<tr>
          <td style="padding:25px 10px 20px 20px;">
            Hi,
          </td>
    	</tr>
    	<tr>
          <td style="padding:10px 5px 20px 20px;">
            Greetings from Viands! Hope you are doing well. We are writing to you today to inform you that we are done with our Beta testing and we are ready to launch our app. We have fixed a lot of bugs and added new features. But, we are still doing our best to get the payment gateway system integrated, do bear with us. Hopefully we will have this in our next update.
          </td>
    	</tr>
    	<tr>
          <td style="padding:10px 10px 20px 20px;">
            We understand most of you were annoyed with the 'Menu Update' notification. We are very apologetic regarding the same. Let us quote "Ideas are easy. Implementation is hard". Mistakes do happen, we require your support to take this to another level. We are pretty sure most of you would have uninstalled the app, so here we are again requesting you to download our app from this new link: <a href="https://play.google.com/store/apps/details?id=com.one100solutions.viands_app">Click here</a>
          </td>
    	</tr>
    <tr>
<td style="padding:10px 10px 20px 20px;">
Please delete all previous versions of the app and download the new one via the link above. Note, this is a new app and not an update.
</td>
</tr>

<tr>
<td style="padding:10px 10px 20px 20px;">
 PS- If at any point you find a few bugs, we encourage you to please report it and help us serve you better. Looking forward to your reviews and comments on the playstore. 
</td>
</tr>
    <tr>
<td style="padding:10px 10px 20px 20px;">
Contact us at <a href="">contactus@viands.in</a>.
</td>
    </tr>
    <tr>
<td style="padding:10px 10px 20px 20px;">
Best,<br>
The Viands Team
</td>
    </tr>
    </table>
    <hr>
   </td>
  </tr>
 </table>
</body>
</html>